<form method="POST" action="/auth/login">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Nhập địa chỉ email">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Mật khẩu</label>
        <input type="password" class="form-control" name="password" placeholder="Nhập mật khẩu">
    </div>
    <button type="submit" class="btn btn-primary">Đăng Nhập</button>
</form>